[submodule "backend/codebase"]
	path = backend/codebase
	url = git@github.com:iccs-alex/TokTik_Backend.git
[submodule "frontend/codebase"]
	path = frontend/codebase
	url = git@github.com:iccs-alex/TokTik_Frontend.git
[submodule "TokTik_Workers"]
	path = TokTik_Workers
	url = https://github.com/iccs-alex/TokTik_Workers
[submodule "socketio"]
	path = socketio
	url = git@github.com:iccs-alex/TokTik_SocketIO.git
