[submodule "backend/codebase"]
	path = backend/codebase
	url = git@github.com:iccs-alex/toktik_backend.git
[submodule "frontend/codebase"]
	path = frontend/codebase
	url = git@github.com:iccs-alex/toktik_frontend.git
[submodule "toktik_workers"]
	path = toktik_workers
    url = https://github.com/iccs-alex/toktik_workers.git
[submodule "socketio_server/codebase"]
	path = socketio_server/codebase
	url = git@github.com:iccs-alex/toktik_socketio.git
